.pokemon-button {
  display: inline-block;
  min-width: 200px;
  background-color: rgb(182, 44, 67);
  border: none;
  color: rgb(212, 202, 202);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10%;
}

.loading-message {
  font-size: 100px;
  text-align: center;
}

.logo {
  width: 10%
}

.tittle {
display: inline-block;
font-size: 2em;
}

label {
  font-size: 2em;
  margin-right: 0.4em;
}

#pokemon-input {
  width: 20em;
}

